<%= form_with(model: [tree, event], local: true) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :kind, "Event kind:" %>
  <%= form.text_field :kind %>
  <br>
  <%= form.text_area :description %>
  <br>
  <%= form.label :happened_at, "Date happened:" %>
  <%= form.date_field :happened_at %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
