<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_tree_event_path(@tree, @event) %> |
  <%= link_to "Back to events", tree_events_path %>

  <%= button_to "Destroy this event", [@tree, @event], method: :delete %>
</div>
